################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup
/UI/manilaxmisilks-ui/public/FileStore
