body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.load_css {
  position: fixed;
  /* left: 0px; */
  text-align: center;

  top: 0px;

  width: 100%;
  height: 100%;
  z-index: 9999;
}

.load_modal_css {
  position: absolute;
  /* left: 0px; */
  text-align: center;

  top: 0px;

  width: 90%;
  height: 100%;
  z-index: 9999;
}
